.vbox{
    -fx-background-color: black;
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-alinement: center;
}

.hbox{
    -fx-alinement: center;
    -fx-background-color: black;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.button{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.textbox{
    -fx-background-color: white;
    -fx-text-fill: black;
}